body{
    width: 100%;
    margin: 0;
}

a{
    text-decoration: none;
    color: white;
}

:root {
    font-family: Inter, sans-serif;
    font-feature-settings: 'liga' 1, 'calt' 1;
    
}

.container{
    width: 100%;
    height: auto !important;
}

.cont-bread{
    display: flex;
    align-items: center;

}

.bread{
    width: 550px;
    padding-left: 16%;
}

ul.breadcrumb {
    padding: 40px;
}

ul.breadcrumb li {
    display: inline;
    font-size: 20px;
    color: #42372D;
}

ul.breadcrumb li+li:before {
    padding: 8px;
    color: #888888;
    content: "/\00a0";
}

ul.breadcrumb li a {
    color: #0000008e;
    text-decoration: none;
}

ul.breadcrumb li a:hover {
    color: #42372D;
    text-decoration: underline;
}

.offer-up-cont{
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
}

.container-offer{
    width: 571px;
    height: fit-content;
    box-shadow: 0px 0px 10px 2px rgba(236, 101, 67, 0.25);
    display: flex;
    flex-direction: column;
    padding-bottom: 20px;
}

.offer-title{
    font-size: 24px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

.offer-card{
    display: flex;
    justify-content: center;
    width: 500px;
    height: 116px;
    align-items: center;
    margin-bottom: 34px;
    margin-top: 10px;
}

.bl-ico{
    width: 23%;
    border: #EC6543 solid 2px;
}

.card-title{
    font-size: 24px;
    font-weight: bold;
    margin-top: -5px;
    margin-bottom: -10px;
}

.card-text-container{
    margin-left: 20px;
}

.card-text{
    font-size: 20px;
}

.card-size{
    width: 146px;
    height: 53px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: #EC6543 solid 2px;
    margin-top: -15px;
}

.size{
    font-size: 20px;
}

.num-card{
    font-size: 16px;
    margin-left: 54px;
}

.price-card{
    font-size: 24px;
    font-weight: bold;
    margin-left: 40px;
    margin-right: -70px;
}

.input-container{
    display: flex;
    align-items: center;
    flex-direction: column;
}

.offer-input{
    width: 473px;
    height: 57px;
    padding-left: 20px;
    font-size: 20px;
    margin-bottom: 12px;
}

.input-text{
    font-size: 20px;
    margin-left: 35px;
    margin-bottom: 10px;
}

.check-delivery{
    display: flex;
    align-items: center;
    margin-bottom: -20px;
    margin-left: 35px;
}

.delivery{
    width: 29px;
    height: 29px;
}

.delivery-text{
    font-size: 20px;
    margin-left: 10px;
}

.input-container-delivery{
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 20px;
}

.input-container-town{
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-bottom: -15px;
}

.input-container-adress{
    display: flex;
    justify-content: center;
}

.offer-input-adress1{
    width: 216px;
    height: 57px;
    padding-left: 20px;
    font-size: 20px;
    margin-bottom: 12px;
    margin-right: 10px;
}

.offer-input-adress{
    width: 220px;
    height: 57px;
    padding-left: 20px;
    font-size: 20px;
    margin-bottom: 12px;
}

.offer-input-ps{
    width: 473px;
    padding-top: 20px;
    padding-left: 20px;
    padding-bottom: 129px;
    font-size: 20px;
    margin-bottom: 12px;
}

.acess-text{
    font-size: 16px;
    margin-left: 10px;
}

.finish-price-offer-container{
    display: flex;
    margin-top: 36px;
    margin-left: 35px;
    width: 500px;
    justify-content:space-between;
}

.finish-price-del-container{
    display: flex;
    margin-top: -20px;
    margin-left: 35px;
    width: 500px;
    justify-content:space-between;
}

.finish-price-itog-container{
    display: flex;
    margin-left: 35px;
    width: 500px;
    justify-content:space-between;
}

.finish-price-offer-text{
    font-size: 18px;
    color: #8B8B8B;
}

.finish-price-itog-text{
    font-size: 32px;
}

.finish-btn-container{
    display: flex;
    align-items: center;
    flex-direction: column;
}

.btn-finish{
    width: 493px;
    height: 65px;
    background-color: #EC6543;
    color: white;
    font-weight: bold;
    font-size: 24px;
    border: none;
    margin-top: -10px;
}

@media (max-width: 1200px){
    .bread{
        display: none;
    }
    .container-offer{
        margin-top: 50px;
    }
}

@media (max-width: 570px) {
    .container-offer{
        width: 95%;
    }
    .offer-card{
        display: flex;
        flex-direction: column;
        height: fit-content;
        width: 100%;
    }
    .num-card{
        margin-left: 0;
    }
    .price-card{
        margin-left: 0;
        margin-right: 0;
        margin-bottom: 20px;
    }
    .bl-ico{
        margin-bottom: 20px;
    }
    .offer-input{
        width: 80%;
    }
    .input-container-adress{
        width: 100%;
        display: flex;
        align-items: center;
    }
    .offer-input-adress{
        width: 36.5%;
    }
    .offer-input-adress1{
        width: 36.5%;
    }
    .offer-input-ps{
        width: 80%;
    }
    .btn-finish{
        width: 80%;
    }
    .finish-price-offer-container{
        width: 80%;
    }
    .finish-price-itog-container{
        width: 80%;
    }
}